html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 13px;
}

.cv {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}
header {
    text-align: center;
}

header h1 {
    font-size: 220%;
    font-weight: bold;
}

section {
    padding: .8em 0 0 0;
}

a {
    color: #5182bb;
    text-decoration: none;
}

header .contact {
    margin-top: .2em;
}

header .contact p {
    display: inline-block;
}

header .contact a {
    position: relative;
    display: inline-block;
    padding: 0 5px 0 1.5em;
    margin-right: 1em;
}

header .contact i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 110%;
}

header .contact p.linkedin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%235182bb' d='M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    b: 0 1px;
    background-position: 0 1px;
    background-size: 1.3em auto;
}

section section {
    padding: 5px 0 0 0;
    position: relative;
}

section.professional section,
section.education section {
    /* padding-left: 9.5em; */
}


section section .year {
    font-weight: normal;
    display: inline-block;
    margin-right: 3px;
    font-size: 90%;
    /* position: absolute;
    left: 0;
    top: .5em; */
}
section section .year:after {
    content: "•";
    margin-left: 8px;

}

section h2 {
    text-transform: uppercase;
    font-size: 120%;
    margin-bottom: .5em;
    font-weight: normal;
    background: #5182bb;
    color: #fff;
    text-align: center;
    padding: .2em 0;
}

section h2 b {
    font-weight: normal
}

section h3 {

    font-size: 110%;

}

section.professional h3 {
    font-weight: bold;
    margin-bottom: .1em;
}

section section ul p {
    margin: 0;
}


section h4 {
    font-weight: bold;
}

section.professional h3 {
    border-bottom: 1px solid #000;
}

section section p {

    font-size: 95%;
}


section section.professional p {
    margin-top: .4em;

}

section section ul {
    margin: .6em;
    font-size: 95%;
    margin-left: 0;
}

section section ul li {
    position: relative;
    padding-left: 1.5em;
}

section section ul li:before {
    position: absolute;
    top: -2px;
    left: 0;
    content: '—';
}
.cv > section:last-child {
    margin-bottom: 0;

}
.pagebreak {
    page-break-after: always;
}

.monospaced {
    font: bold 14px 'Ubuntu Mono',monospace;
}
